@model BlogEngine.Web.ViewModels.PostViewModel
@{
    ViewBag.Title = "Post Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var post = Model;
}
<section class="latest section">
    <div class="section-inner">
        <div class="content">

            <h3 class="title">
                <label>@post.Name</label><br />
                <small class="text-muted">@post.CreatedDate.Value.ToString("MMMM dd, yyyy") by</small>
                <a href="#">
                    <span class="badge">@post.CreatedBy</span>
                </a>
                <a href="#"><small class="text-primary number-of-comments">@(post.Comments.Count()) comments</small> </a>
            </h3>

            <div>
                <img class="post-image" src="~/Assets/Clients/images/projects/project-featured.png" />
            </div>
            <!--Post Content Start-->
            <p>
                @post.Content
            </p>
            <!--Post Content End-->
            <!-- Post Blockquote Start -->
            <div>
                <blockquote class="blockquote">
                    <h4>Quote</h4>
                    <p>@post.Quote</p>
                </blockquote>
            </div>
            <!-- Post Blockquote End -->

            <div class="response">
                <h4>Responses</h4>
                <div class="media response-info">
                    <div class="media-left response-text-left">
                        <a href="#">
                            <img class="media-object" src="~/Assets/Clients/images/sin1.jpg" alt="">
                        </a>
                        <h5><a href="#">Username</a></h5>
                    </div>
                    <div class="media-body response-text-right">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <ul>
                            <li>Sep 21, 2015</li>
                            <li><a href="single.html">Reply</a></li>
                        </ul>
                        <div class="media response-info">
                            <div class="media-left response-text-left">
                                <a href="#">
                                    <img class="media-object" src="~/Assets/Clients/images/sin2.jpg" alt="">
                                </a>
                                <h5><a href="#">Username</a></h5>
                            </div>
                            <div class="media-body response-text-right">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <ul>
                                    <li>July 17, 2015</li>
                                    <li><a href="single.html">Reply</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="media response-info">
                    <div class="media-left response-text-left">
                        <a href="#">
                            <img class="media-object" src="~/Assets/Clients/images/sin1.jpg" alt="">
                        </a>
                        <h5><a href="#">Username</a></h5>
                    </div>
                    <div class="media-body response-text-right">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <ul>
                            <li>Mar 28, 2015</li>
                            <li><a href="single.html">Reply</a></li>
                        </ul>
                        <div class="media response-info">
                            <div class="media-left response-text-left">
                                <a href="#">
                                    <img class="media-object" src="~/Assets/Clients/images/sin2.jpg" alt="">
                                </a>
                                <h5><a href="#">Username</a></h5>
                            </div>
                            <div class="media-body response-text-right">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <ul>
                                    <li>Feb 19, 2015</li>
                                    <li><a href="single.html">Reply</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

        </div>
    </div>
</section>
